/*archivo css del sitio web a copiar para presentar como TP Parcial 1 de LPPA 2021 UAI Rosario*/


/* --- RESET CSS --- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  --- ACA EMPIEZA LA ESTILIZACION DEL SITIO --- */
/*parametros generales*/
* {
  box-sizing: border-box;
}

@font-face {
    font-family: "yanone kaffeesatz";
    src: url("YanoneKaffeesatz-Light.otf");
}

body{
  background-color: #F7F7F7;
  color: #B48097;
  font-family: "yanone kaffeesatz", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  margin: auto;
}

.container1{
  width: 95%;
  margin: auto;
}

/*encabezado - menu*/
header {
  width: 100%;
  height: 120px;
  padding-top: 50px;
  background-color: #2B3034;
}


header a{
  color:#fff;
  text-decoration:none;
  font-size:55px;
  font-weight:lighter;
}

#logo {
  float:left;
}

#logo h1 {
}

#menu-links {
  float:right;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  padding: 10px;
}

header label img {
  width: 30px;
  height: 30px;
  opacity:0.4;
}

.hrcolor {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #3E484A;
}

header label:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.menu li {
  width: 10em;
}

.menu li:hover {
  background: rgba(0,0,0,0.3);
}

.menu li a {
  display: block;
  padding: 15px 20px;
  font-size: 25px;
  font-weight: lighter;
  color: #72A1A2;
  text-decoration: none;
}


/*One Column*/
#onecolumn {
  width: 100%;
  background-color: #F7F7F7;
}

#onecolumn-1 {
  width: 100%;
  background-color: white;
  line-height: 2em;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-right: 2px solid #E3E3E3;
  border-bottom: 2px solid #E3E3E3;
}

#onecolumn-1 h1 {
  font-size: 27px;
  color: #825177;
  margin-bottom: 5px;
}

#onecolumn-1 h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

#onecolumn-1 p {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}


/*Three Column*/
#threecolumn {
  width: 100%;
  background-color: #F7F7F7;
}

#threecolumn-1 {
  width: 100%;
  display: flex;
  line-height: 2em;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#threecolumn-1 h1 {
  font-size: 30px;
  color: #808687;
  margin-top: 20px;
  margin-bottom: 5px;
}

#threecolumn-1 h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

#threecolumn-1 p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.columnalateral {
  width: 25%;
  padding: 12px;
}

.cajachica1 {
  width: 100%;
  padding: 25px;
  background-color: white;
  border-right: 2px solid #E3E3E3;
  border-bottom: 2px solid #E3E3E3;
  margin-bottom: 24px;
}

.cajachica1 h1 {
  font-size: 20px;
  color: #808687;
  margin-top: 30px;
  margin-bottom: 15px;
}

.cajachica1 p {
  font-size: 20x;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cajachica1 ul {
  margin-top: 25px;
  flex-direction: column;
}

.cajachica1 li {
  height: 45px;
  border-bottom: 1px solid #E2E6E8;
}

.cajachica1 li a {
  color: #ED391B;
  text-decoration: underline;
}

.cajachica1 li a:hover {
  color: #ED391B;
  text-decoration: none;
}

.cajachica2 {
  width: 100%;
  padding: 25px;
  background-color: white;
  border-right: 2px solid #E3E3E3;
  border-bottom: 2px solid #E3E3E3;
}

.cajachica2 h1 {
  font-size: 30px;
  color: #808687;
  margin-top: 20px;
  margin-bottom: 15px;
}

.cajachica2 p {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cajachica2 ul {
  margin-top: 25px;
  flex-direction: column;
}

.cajachica2 li {
  height: 45px;
  border-bottom: 1px solid #E2E6E8;
}

.cajachica2 li a {
  color: #ED391B;
  text-decoration: underline;
}

.cajachica2 li a:hover {
  color: #ED391B;
  text-decoration: none;
}


#columnacentral {
  width: 50%;
  padding: 12px;
}

#articulocentral {
  width: 100%;
  padding: 25px;
  background-color: white;
  border-right: 2px solid #E3E3E3;
  border-bottom: 2px solid #E3E3E3;
}


/*footer*/
#main-footer{
  background-color: #CDD2D6;
}


#main-footer a {
  color: #97A7AD;
  padding: 20px;
}

#main-footer a:hover {
  font-weight: bold;
  text-decoration: none;
}

#main-footer h2 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer-links {
  color: #97A7AD;
  width: 100%;
  display: flex;
}

#links-area {
  width: 64%;
  padding: 10px;
}

#links-container {
  width: 100%;
  display: flex;
}

.links-box {
  width: 25%;
  margin: 0;
  padding: 0;
}

.links-box  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-box  li a {
  font-size: 20px;
  line-height: 2em;
  text-decoration: underline;
  margin-left: -20px;
}

.links-box li a:hover {
  text-decoration: none;
}

#footer-info {
  width: 36%;
  padding: 10px;
}

#footer-info p{
  font-size: 18px;
  line-height: 2em;
}

#footer-firma {
  width: 100%;
  text-decoration: none;
  padding: 10px;
}

#footer-firma p{
  color: #9CA5AA;
  font-size: 16px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}


/*media queries - comportamiento responsivo*/
@media (max-width: 1024px) {

  .container{
    width: 100%;
  }

  header {
    height: 60px;
    padding-top: 5px;
  }


  header a{
    font-size:25px;
  }

  .container{
    width: 100%;
    margin: 0;
  }

  #logo {
    float:right;
    width: 90%;
    text-align: center;
  }

  #menu-links {
    float:left;
  }

  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: #2B3034;
    width: 165px;
    margin-left: -165px;
    transition: all 0.5s;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-top: 1px solid #fff;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }

  #footer-links {
    flex-direction:column-reverse;
  }

  #links-area {
    width: 100%;
    padding: 10px;
  }

  #footer-info {
    width: 100%;
    padding: 10px;
  }

}

@media (max-width: 768px) {
  #links-container {
    width: 100%;
    flex-direction: column;
  }

  .links-box {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
